﻿@model Clinic_Managment.VisitEditor
@{
    Layout = null;
}
<input type="text" id="doctorName" value="@Model.doctorName" style="display:none;" />
<input type="text" id="patientName" value="@Model.patientName" style="display:none;" />
<input type="text" id="ClinicName" value="@Model.ClinicName" style="display:none;" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <div class="form-group">
            <label class="col-md-3">
                Doctor
            </label>
            <div class="col-md-9">
                <span id="msgdoctor1" class="text-danger" style="display:none">Please, the Doctor value is not filled</span>
                <select id="doctorId" style="width:350px;">
                    @Html.ValidationMessageFor(x => x.doctorId, Model.doctorName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.doctorName, "", new { @class = "text-danger" })
                </select>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">
                Patient
            </label>
            <div class="col-md-9">
                <span id="msgpatient1" class="text-danger" style="display:none">Please, the Patient value is not filled</span>
                <select id="patientId" style="width:350px;">
                    @Html.ValidationMessageFor(x => x.patientId, Model.patientName, new { @class = "form-control" })
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">
                Clinic
            </label>
            <div class="col-md-9">
                <span id="msgClinic1" class="text-danger" style="display:none">Please, the Clinic value is not filled</span>
                <select id="clinicID" style="width:350px;">
                    @Html.ValidationMessageFor(x => x.clinicID, Model.ClinicName, new { @class = "form-control" })
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">
                VistDate
            </label>
            <div class="col-md-9">
                <span id="msgVistDate2" class="text-danger" style="display:none">The date is not real, please be greater than the date</span>
                <span id="msgVistDate1" class="text-danger" style="display:none">Please, the VistDate value is not filled</span>
                <span id="msgVistDate" class="text-danger" style="display:none">Please, the Date is in the database, choose another Date</span>
                <input  class="form-control" asp-for="VistDate" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
            </div>
        </div>

        <br /><br /><br />
        <center>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" onclick="AddVisits()" class="btn btn-outline-primary" id="add_variation">Save</button>
                </div>
            </div>
        </center>
    </div>
}

<script type="text/javascript">
    debugger;
    var doctorname = $("#doctorName").val();
    var datadoctor = $("<option/>", { value: @Model.doctorId, text: doctorname });
    $('#doctorId').append(datadoctor);
    $('#doctorId option[value="' + @Model.doctorId, + '"]').prop('selected', true);
    $('#doctorId').trigger('change');

    $(document).ready(function () {
        $("#doctorId").select2({

            dropdownParent: $('#form-modalsss'),
            ajax: {
                url: '@Url.Action("Getdoctor", "Visit")',
                dataType: 'json',
                data: (params) => {
                    return {
                        doctorname: params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                    return {
                        results: results,
                    }
                },
            },
        });


        var patientname = $("#patientName").val();
        var datapatient = $("<option/>", { value: @Model.patientId, text: patientname });
        $('#patientId').append(datapatient);
        $('#patientId option[value="' + @Model.patientId, + '"]').prop('selected', true);
        $('#patientId').trigger('change');

        $("#patientId").select2({
            dropdownParent: $('#form-modalsss'),
            ajax: {
                url: '@Url.Action("GetPatient", "Visit")',
                dataType: 'json',
                data: (params) => {
                    return {
                        Patientname: params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                    return {
                        results: results,
                    }
                },
            },
        });
        var clinictname = $("#ClinicName").val();
        var dataclinic = $("<option/>", { value: @Model.clinicID, text: clinictname });
        $('#clinicID').append(dataclinic);
        $('#clinicID option[value="' + @Model.clinicID, + '"]').prop('selected', true);
        $('#clinicID').trigger('change');

        $("#clinicID").select2({
            dropdownParent: $('#form-modalsss'),
            ajax: {
                url: '@Url.Action("GetClinic", "Visit")',
                dataType: 'json',
                data: (params) => {
                    return {
                        Clinictname: params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                    return {
                        results: results,
                    }
                },
            },

        });
        
    })


</script>
