﻿@model Clinic_Managment.Models.VisitsModels

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <label class="col-xs-2" for="lname">ID : </label>
        <label class="col-xs-10" for="lname">@Model.ID</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Doctor : </label>
        @if (Model.DoctorName != null)
        {
            <label class="col-xs-10" for="fname">@Model.DoctorName</label>
        }
        else
        {
            <span>
                N/a
            </span>
        }
       
    </div>


    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="lname">Patient : </label>
        @if (Model.PatientName != null)
        {
            <label class="col-xs-10" for="lname">@Model.PatientName</label>
        }
        else
        {
            <span>
                N/a
            </span>
        }
    </div>
   

    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="lname">Clinic : </label>
        @if (Model.Clinic != null)
        {
            <label class="col-xs-10" for="lname">@Model.Clinic</label>
        }
        else
        {
            <span>
                N/a
            </span>
        }
    </div>
    
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="lname">VistDate : </label>
        <label class="col-xs-10" for="lname">@Model.VistDate</label>
    </div>
</div>