﻿@model Clinic_Managment.Models.VisitsModels
<tr id="Vists_@Model.ID">
    <td>@Model.ID </td>
    <td>
        @if (Model.DoctorName!= null)
        {
            @Model.DoctorName
        }
        else
        {
            <span>
                N/a
            </span>
        }

        </td>
    <td>
        @if (Model.PatientName != null)
        {
            @Model.PatientName
        }
        else
        {
            <span>
                N/a
            </span>
        }

    </td>
    <td>
        @if (Model.Clinic != null)
        {
            @Model.Clinic
        }
        else
        {
            <span>
                N/a
            </span>
        }

    </td>
    <td>@Model.VistDate</td>

    <td>
        <button type="button" onclick="Delete(@Model.ID)" class="btn btn-danger pull-right"><i class='fa fa-trash' style='font-size:18px'></i></button>
        <button type="button" onclick="GetDetails(@Model.ID)" class="btn btn-warning pull-right"><i class="fa fa-align-justify custom" style="font-size:18px"></i></button>
        <button type="button" onclick="Edit(@Model.ID)" class="btn btn-success pull-right"><i class="fa fa-edit" style="font-size:18px"></i></button>

</tr>
