﻿@model IList<VisitsModels>
@{
    ViewBag.Title = "VisitIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
<button type="button" style="float:right" class="btn btn-info" onclick="filter()"><i class="fa fa-filter" style="font-size:36px"></i></button>
<br /><br />
    <div id="SelectinputSerch" style="display:none">
        <br />
        <select id="mySelect2" multiple="multiple" style="width:270px;">
        </select>
        <select id="mySelect3" multiple="multiple" style="width:270px; text-align:center;">
        </select>
        <select id="mySelect4" multiple="multiple" style="width:270px; text-align:center;">
        </select>
        <br />
        <span id="Strtsd" class="text-danger" style="display:none">Please, The StartDate is big from EndDate</span>
        <br />
        StartDate: <input type="datetime-local" id="myDatetimeFieldss" />
        EndDate: <input type="datetime-local" id="myDatetimeField" />
        <button type="button" onclick="Search()" class="btn btn-info"><i class="fa fa-search"></i></button>
        <inpu type="button" style="float:right" class="btn btn-outline-primary" onclick="Clear()">Clear</inpu>

    </div>


<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table" id="tables">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Clinic</th>
                    <th scope="col">VistDate</th>
                    <th>
                        <button type="button" onclick="Add()" class="btn btn-info"><i class="fa fa-plus  style='font-size:18px'" aria-hidden="true"></i></button>
                    </th>


                </tr>

            </thead>
            <tbody id="teachersBody">
              
                    @if (Model != null && Model.Count > 0) 
                    {
                        @Html.Partial("visitlist" , Model)
                    }
                    else
                    {

                        //<span style="color : orangered">
                        //  No Students
                        //</span>
                    }
            </tbody>
           
                
         
        </table>

    </div>
</div>



<div class="modal" tabindex="-1" id="form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit visits</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-body">
            </div>

        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="form-modalsss">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add visits</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-bodyss">
            </div>

        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="form-modalsses">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details visits</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-bodyess">
            </div>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="Mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="deletemodals">
                <h3>Do you want to delete, answer yes or no.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" onclick="ConfirmDelete()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="Mymodals">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="deletemodals">
                <h3>Do you want to delete input filter, answer yes or no.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="Deletefilter()">Yes</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $("#mySelect2").select2({
            placeholder: "Select a Doctor",
            allowClear: true,
            theme: "classic",
            minimumInputLength: 1,
            ajax: {
                url: '@Url.Action("Getvisits", "Visit")',
                dataType: "json",
                data: (params) => {
                    return {
                        vists: params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                },
            },

        });

        $("#mySelect3").select2({
            placeholder: "Select a Patient",
            allowClear: true,
            theme: "classic",
            minimumInputLength: 1,
            ajax: {
                url: '@Url.Action("Getvisitss", "Visit")',
                dataType: "json",
                data: (params) => {
                    return {
                        vistss: params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                },
            },

        });

        $("#mySelect4").select2({
            placeholder: "Select a Clinic",
            allowClear: true,
            theme: "classic",
            minimumInputLength: 1,
            ajax: {
                url: '@Url.Action("Getvisitssss", "Visit")',
                dataType: "json",
                data: (params) => {
                    return {
                        vistssss: params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                },
            },
        });
        var now = new Date();
        var utcString = now.toISOString().substring(0, 19);
        var year = now.getFullYear();
        var month = now.getMonth() + 1;
        var day = now.getDate();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var localDatetime = year + "-" +
            (month < 10 ? "0" + month.toString() : month) + "-" +
            (day < 10 ? "0" + day.toString() : day) + "T" +
            (hour < 10 ? "0" + hour.toString() : hour) + ":" +
            (minute < 10 ? "0" + minute.toString() : minute) +
            utcString.substring(16, 16);
        var datetimeFields = document.getElementById("myDatetimeField");
        datetimeFields.value = localDatetime;
        debugger;
        const startOfMonth = moment().startOf('month').format('YYYY-MM-DD hh:mm');
        var datetimeField = document.getElementById("myDatetimeFieldss");
        datetimeField.value = startOfMonth;
    })

    function filter() {
        debugger;
        $("#mySelect2").select2({
            placeholder: "Select a Doctor",
            allowClear: true,
            theme: "classic",
            minimumInputLength: 1,
            ajax: {
                url: '@Url.Action("Getvisits", "Visit")',
                dataType: "json",
                data: (params) => {
                    return {
                        vists: params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                },
            },

        });

        $("#mySelect3").select2({
            placeholder: "Select a Patient",
            allowClear: true,
            theme: "classic",
            minimumInputLength: 1,
            ajax: {
                url: '@Url.Action("Getvisitss", "Visit")',
                dataType: "json",
                data: (params) => {
                    return {
                        vistss: params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                },
            },

        });

        $("#mySelect4").select2({
            placeholder: "Select a Clinic",
            allowClear: true,
            theme: "classic",
            minimumInputLength: 1,
            ajax: {
                url: '@Url.Action("Getvisitssss", "Visit")',
                dataType: "json",
                data: (params) => {
                    return {
                        vistssss: params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                },
            },
        });
        var now = new Date();
        var utcString = now.toISOString().substring(0, 19);
        var year = now.getFullYear();
        var month = now.getMonth() + 1;
        var day = now.getDate();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var localDatetime = year + "-" +
            (month < 10 ? "0" + month.toString() : month) + "-" +
            (day < 10 ? "0" + day.toString() : day) + "T" +
            (hour < 10 ? "0" + hour.toString() : hour) + ":" +
            (minute < 10 ? "0" + minute.toString() : minute) +
            utcString.substring(16, 16);
        var datetimeFields = document.getElementById("myDatetimeField");
        datetimeFields.value = localDatetime;
        debugger;
        const startOfMonth = moment().startOf('month').format('YYYY-MM-DD hh:mm');
        var datetimeField = document.getElementById("myDatetimeFieldss");
        datetimeField.value = startOfMonth;
        $("#SelectinputSerch").toggle();
        Clear();
    }
    function Search() {
     debugger;
        var ids = $("#mySelect2").val();
        var ID = $("#mySelect3").val();
        var idsscd = $("#mySelect4").val();
        var StartDate = $("#myDatetimeFieldss").val();
        var EndDate = $("#myDatetimeField").val();
        if (StartDate >= EndDate){
            $("#Strtsd").show();
            return false;
        }
        else{
            $.ajax
                ({
                    type: "GET",
                    url: '@Url.Action("visitlist", "Visit")',
                    data: {
                        doctors: ids.toString(),
                        patient: ID.toString(),
                        clinic: idsscd.toString(),
                        startdate: StartDate.toString(),
                        enddate: EndDate.toString(),
                    },
                    success: function (data) {
                        debugger;
                        $('#teachersBody').html(data);
                    }
                });
           }
    }
    function Clear(){
        debugger;
        const startOfMonths = moment().startOf('month').format('YYYY-MM-DD hh:mm');
        var datetimeFieldssss = document.getElementById("myDatetimeFieldss");
         var lxvjnv = datetimeFieldssss.value = startOfMonths;
        var nowfddf = new Date();
        var utcStrinffdg = nowfddf.toISOString().substring(0, 19);
        var yearsfgf = nowfddf.getFullYear();
        var montdggdh = nowfddf.getMonth() + 1;
        var daydgdg = nowfddf.getDate();
        var housffsr = nowfddf.getHours();
        var minudffte = nowfddf.getMinutes();
        var localDatetisddsme = yearsfgf + "-" +
            (montdggdh < 10 ? "0" + montdggdh.toString() : montdggdh) + "-" +
            (daydgdg < 10 ? "0" + daydgdg.toString() : daydgdg) + "T" +
            (housffsr < 10 ? "0" + housffsr.toString() : housffsr) + ":" +
            (minudffte < 10 ? "0" + minudffte.toString() : minudffte) +
            utcStrinffdg.substring(16, 16);
        var datetimeFieldsghthdd = document.getElementById("myDatetimeField");
       var Startmonth =  datetimeFieldsghthdd.value = localDatetisddsme;

        $("#mySelect2").val('').trigger('change');
        $("#mySelect3").val('').trigger('change');
        $("#mySelect4").val('').trigger('change');
        $("#myDatetimeFieldss").val(lxvjnv).trigger('change');
        $("#myDatetimeField").val(Startmonth).trigger('change');
        var idss = $("#mySelect2").val();
        var IDs = $("#mySelect3").val();
        var idsscds = $("#mySelect4").val();
        var StartDatess = $("#myDatetimeFieldss").val();
        var EndDatess = $("#myDatetimeField").val();
        debugger;
        $.ajax
            ({
                type: "GET",
                url: '@Url.Action("Clear", "Visit")',
                data: {
                    doctorss: idss.toString(),
                    patientss: IDs.toString(),
                    clinicss: idsscds.toString(),
                    startdatess: StartDatess.toString(),
                    enddatess: EndDatess.toString(),
                },
                success: function (data) {
                    debugger;
                    $('#teachersBody').html(data);
                }
            });

    }


    function ConfirmDelete() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteVisits", "Visit")',
            data: { visitID: Cid },
            success: function (data) {

                $("#Mymodal").modal('hide');
                $('#Vists_' + Cid).remove();

            }

        })
    }

    function Delete(CoId) {
        Cid = CoId;

        $("#Mymodal").modal('show');
    }


    function GetDetails(ID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDetailsVisits", "Visit")",
            data: { visitID: ID },
            success: function (data) {
                $('#form-modal-bodyess').html('');
                $('#form-modal-bodyess').html(data);
                $('#form-modalsses').modal('show');
            }
        })
    }

    function Add(ID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("AddVisits", "Visit")",
            data: { visitID: ID },
            success: function (data) {
                debugger;
                $('#form-modal-bodyss').html('');
                $('#form-modal-bodyss').html(data);
                $('#form-modalsss').modal('show');
            }
        })
    }
    function AddVisits() {
        debugger;
        $("#msgdoctor1").hide(); 
        $("#msgClinic1").hide();
        $("#msgpatient1").hide();
        $("#msgVistDate2").hide();
        $("#msgVistDate1").hide();
        var isvalid = true;
        var doctorNmae = $("#doctorId").val();
        var patientname = $("#patientId").val();
        var clinicname = $("#clinicID").val();
        if (doctorNmae == 0) {
            $("#msgdoctor1").show();
            isvalid = false;
        }
        if (patientname == 0) {
            $("#msgpatient1").show();
              isvalid = false;
        }
        if (clinicname  == 0) {
            $("#msgClinic1").show();
            isvalid = false;
        }
  
        var sQLStartDate = new Date('01/1/1753 12:00:00 AM');
        var sQLEndDate = new Date('12/31/9999 12:00:00 AM');
        var yourDate = new Date($("#VistDate").val());

        if ($("#VistDate").val() == null || $("#VistDate").val() == "") {
            $("#msgVistDate1").show();
            return false;
        }
        else
        {
            if (yourDate <= sQLStartDate || yourDate >= sQLEndDate) {
                $("#msgVistDate2").show();
                return false;

            }
        }
      
        var timestamp = Date.parse(sQLEndDate);

        if (isNaN(timestamp) == false) {
            $("#msgVistDate2").show();
        }
     
        if (!isvalid) return;
        $("#msgdoctor1").hide();
        $("#msgClinic1").hide();
        $("#msgpatient1").hide();
        $("#msgVistDate2").hide();
        $("#msgVistDate1").hide();
        var obj = new Object();
        obj.ID = $("#ID").val();
        obj.DoctorId = $("#doctorId").val();
        obj.PatientId = $("#patientId").val();
        obj.ClinicID = $("#clinicID").val();
        obj.VistDate = $("#VistDate").val();
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddVisits", "Visit")',
            data: { visitEditors: obj },

            success: function (data) {
                 debugger;

                $("#form-modalsss").modal('hide');
                    if ($('#ID').val() && $('#ID').val() > 0) {
                        $('#Vists_' + $('#ID').val()).replaceWith(data);
                    }
                    else {
                        $('tbody').append(data);
                    }

            }

        });   

}



    function Edit(ID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("EditVisits", "Visit")",
            data: { visitID: ID },
            success: function (data) {
                debugger;
                $('#form-modal-body').html('');
                $('#form-modal-body').html(data);
                $('#form-modal').modal('show');
            }
        })
    }




    function SaveVisits() {
        $("#msgdoctor1").hide();
        $("#msgClinic1").hide();
        $("#msgpatient1").hide();
        $("#msgVistDate2").hide();
        $("#msgVistDate1").hide();
       var isvalid = true;
            var sQLStartDate = new Date('01/1/1753 12:00:00 AM');
        var sQLEndDate = new Date('12/31/9999 12:00:00 AM');
        var yourDate = new Date($("#VistDate").val());

        if ($("#VistDate").val() == null || $("#VistDate").val() == "") {
            $("#msgVistDate2").show();
            isvalid = false;
        }
        else {
            if (yourDate <= sQLStartDate || yourDate >= sQLEndDate) {
                $("#msgVistDate2").show();
                isvalid = false;
            }
        }

        var timestamp = Date.parse(sQLEndDate);

        if (isNaN(timestamp) == false) {
            $("#msgVistDate2").show();
        }
        if (!isvalid) return;
        var obj = new Object();
        obj.ID = $("#ID").val();
        obj.DoctorId = $("#doctorId").val();
        obj.PatientId = $("#patientId").val();
        obj.ClinicID = $("#clinicID").val();
        obj.VistDate = $("#VistDate").val();
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("EditVisits", "Visit")',
            data: { visitEditor: obj },

            success: function (data) {
                debugger;
                $("#msgdoctor1").hide();
                $("#msgClinic1").hide();
                $("#msgpatient1").hide();
                $("#msgVistDate2").hide();
                $("#msgVistDate1").hide();
                    $("#form-modal").modal('hide');
                    if ($('#ID').val() && $('#ID').val() > 0) {
                        $('#Vists_' + $('#ID').val()).replaceWith(data);
                    }
                    else {

                        $('tbody').append(data);

                    }
            }

        });
    }
</script>