﻿@model Clinic_Managment.Models.Patient

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <label class="col-xs-2" for="lname">PatientId : </label>
        <label class="col-xs-10" for="lname">@Model.patientId</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Name : </label>
        <label class="col-xs-10" for="fname">@Model.Name</label>
    </div>

</div>




