﻿@model Clinic_Managment.Models.Patient

<tr id="Patient_@Model.patientId">
    <td>@Model.patientId </td>
    <td>@Model.Name </td>

    <td>
        <button type="button" onclick="Delete(@Model.patientId)" class="btn btn-danger pull-right"><i class='fa fa-trash' style='font-size:18px'></i></button>
        <button type="button" onclick="GetDetails(@Model.patientId)" class="btn btn-warning pull-right"><i class="fa fa-align-justify custom" style="font-size:18px"></i></button>
        <button type="button" onclick="Edit(@Model.patientId)" class="btn btn-success pull-right"><i class="fa fa-edit" style="font-size:18px"></i></button>

</tr>
