﻿@model IList<Clinic_Managment.Models.Clinic>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
@{
    ViewBag.Title = "ClinicIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <select id="mySelect2" multiple="multiple" style="width:300px;">
    </select>
    <button type="button" onclick="Search()" class="btn btn-info"><i class="fa fa-search"></i></button>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table" id="tables">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th>
                        <button type="button" onclick="Edit()" class="btn btn-info"><i class="fa fa-plus  style='font-size:18px'" aria-hidden="true"></i></button>
                    </th>

                    <th></th>
                </tr>

            </thead>

            <tbody id="teachersBody">
                @Html.Partial("SearchClinic", Model)
            </tbody>
        </table>

    </div>
</div>



<div class="modal" tabindex="-1" id="form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add and Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-body">
            </div>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="form-modals">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details Clinic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-bodys">
            </div>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="Mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="deletemodals">
                <h3>Do you want to delete, answer yes or no.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" onclick="ConfirmDelete()">Yes</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $("#mySelect2").select2({

            allowClear: true,
            theme: "classic",
            minimumInputLength: 1,
            ajax: {
                url: '@Url.Action("GetClinic", "Clinic")',
                dataType: "json",

                data: function (params) {
                    return {
                        searchclinicss: params.term,
                        selectclinicid: $("#mySelect2").val().toString(),
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                },
            },
        })
    })
    function Search() {

        var ids = $("#mySelect2").val();
        $.ajax
            ({
                type: "GET",
                url: '@Url.Action("SearchClinic", "Clinic")',
                data: { idsStr: ids.toString() },
                success: function (data) {
                    debugger;
                    $('#teachersBody').html(data);
                }
            });
    }

    function ConfirmDelete() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteClinic", "Clinic")',
            data: { teacherID: Cid },
            success: function (data) {

                $("#Mymodal").modal('hide');
                $('#Clinic_' + Cid).remove();

            }

        })
    }

    function Delete(CoId) {
        Cid = CoId;

        $("#Mymodal").modal('show');
    }


    function GetDetails(teacherID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDetailsClinic", "Clinic")",
            data: { id: teacherID },
            success: function (data) {
                debugger;
                $('#form-modal-bodys').html('');
                $('#form-modal-bodys').html(data);
                $('#form-modals').modal('show');
            }
        })
    }

    function Edit(teacherID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("EditClinic", "Clinic")",
            data: { id: teacherID },
            success: function (data) {
                debugger;
                $('#form-modal-body').html('');
                $('#form-modal-body').html(data);
                $('#form-modal').modal('show');
            }
        })
    }
    debugger;
    function Saveclinic() {
        var obj = new Object();
        obj.clinicID = $("#clinicID").val();
        obj.clinic = $("#clinic").val();
        var clinic = $("#clinic").val();
        var valid = true;
        if(clinic == ""){
            $("#msgName6").hide();
            $("#msgclinic").show();
        }
        else{
            $("#msgclinic").hide();
        }
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("EditClinic", "Clinic")',
            data: { clinic: obj },
            success: function (data) {
                debugger;
                if (data == "clinicnames"){
                    $("#msgName6").show();
                }
                else{
                    $("#msgName6").hide();
                    $("#form-modal").modal('hide');
                    if ($('#clinicID').val() && $('#clinicID').val() > 0) {
                        $('#Clinic_' + $('#clinicID').val()).replaceWith(data);
                    }
                    else {
                        $('tbody').append(data);
                    }
                }

            }

        });
    }

</script>