﻿@model Clinic_Managment.Models.Clinic

<tr id="Clinic_@Model.clinicID">
    <td>@Model.clinicID </td>
    <td>@Model.clinic </td>

    <td>
        <button type="button" onclick="Delete(@Model.clinicID)" class="btn btn-danger pull-right"><i class='fa fa-trash' style='font-size:18px'></i></button>
        <button type="button" onclick="GetDetails(@Model.clinicID)" class="btn btn-warning pull-right"><i class="fa fa-align-justify custom" style="font-size:18px"></i></button>
        <button type="button" onclick="Edit(@Model.clinicID)" class="btn btn-success pull-right"><i class="fa fa-edit" style="font-size:18px"></i></button>

</tr>
