﻿@model Clinic_Managment.Models.Clinic

@{
    Layout = null;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.clinicID)

        <div class="form-group">
            <span id="msgName6" class="text-danger" style="display:none">Please, the clinicname is in the database, choose another clinicname</span>
            <span id="msgclinic" class="text-danger" style="display:none">Please, the clinicname value is not filled</span>
            <br>
            <label class="col-md-3">
                Name
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.clinic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clinic, "", new { @class = "text-danger" })
            </div>
        </div>

        <br /><br /><br />
        <center>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" onclick="Saveclinic()" class="btn btn-success-white">Save</button>
                </div>
            </div>
        </center>

    </div>


}

