﻿@model Clinic_Managment.Models.Clinic

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <label class="col-xs-2" for="lname">ClinicID : </label>
        <label class="col-xs-10" for="lname">@Model.clinicID</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Name : </label>
        <label class="col-xs-10" for="fname">@Model.clinic</label>
    </div>

</div>




