﻿@model Clinic_Managment.Models.User

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <label class="col-xs-2" for="lname">ID : </label>
        <label class="col-xs-10" for="lname">@Model.ID</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Name : </label>
        <label class="col-xs-10" for="fname">@Model.Name</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="lname">Phone : </label>
        <label class="col-xs-10" for="lname">@Model.Phone</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="lname">Status : </label>
        <label class="col-xs-10" for="lname">
            @if (Model.Status == true)
            {
                <span class="text-success">Active</span>
            }
            else
            {
                <span class="text-danger">Not Active</span>
            }
        </label>
    </div>
</div>