﻿@model Clinic_Managment.Models.Userviewmodel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Update Profile</div>
        <div class="card-body">
            <form asp-action="Profile" method="post">
                @Html.HiddenFor(model => model.Id)

                <div class="form-group" style="text-align:center;">
                    <div class="form-label-group">
                        <span class="text-success">@ViewData["message"]</span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-md-3">
                        FirstName
                    </label>
                    <div class="form-row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-20">
                            <div class="form-label-group">
                                <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-md-20">
                        LastName
                        <div class="form-label-group">
                            <input asp-for="LastName" class="form-control" placeholder="FirstName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3">
                        Email
                    </label>
                    <div class="form-label-group">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">
                        Phone
                    </label>
                    <div class="form-label-group">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <span class="text-danger">@ViewData["messagess"]</span>
                    <br />
                    <label class="col-md-3">
                        UserName
                    </label>
                    <div class="form-label-group">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">
                        Password
                    </label>
                    <div class="form-label-group">
                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                </div>
        
                <br /><br />
                <input type="submit" value="Update" class="btn btn-primary btn-sm col-md-2 offset-md-5" />
            </form>
        </div>
    </div>
</div>