﻿@model Clinic_Managment.Models.User

<tr id="User_@Model.ID">
    <td>@Model.ID </td>
    <td>@Model.Name </td>
    <td>@Model.Phone </td>
    <td>
        @if (Model.Status == true)
        {
            <span class="text-success">Active</span>
        }
        else
        {
            <span class="text-danger">Not Active</span>
        }
    </td>



    <td>
        @if (Model.Status == true)
        {
            <a href="@Url.Action("Activate", "User", new { id = Model.ID })" onclick="Activate()" id="active" style="display:none">Activate</a>
            <a href="@Url.Action("Deactivate", "User", new { id = Model.ID })" onclick="Deactivate()" id="deactivate">Deactivate</a>
        }
        else
        {
            <a href="@Url.Action("Activate", "User", new { id = Model.ID })" onclick="Activate()" id="active">Activate</a>
            <a href="@Url.Action("Deactivate", "User", new { id = Model.ID })" onclick="Deactivate()" id="deactivate" style="display:none">Deactivate</a>

        }
        <button type="button" onclick="Delete(@Model.ID)" class="btn btn-danger pull-right"><i class='fa fa-trash' style='font-size:18px'></i></button>
        <button type="button" onclick="GetDetails(@Model.ID)" class="btn btn-warning pull-right"><i class="fa fa-align-justify custom" style="font-size:18px"></i></button>
        <button type="button" onclick="Edit(@Model.ID)" class="btn btn-success pull-right"><i class="fa fa-edit" style="font-size:18px"></i></button>

    </td>

</tr>
