﻿@model UserDashboardModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table" id="tables">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"> Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    <th>
                        <button type="button" onclick="Edit()" class="btn btn-info"><i class="fa fa-plus  style='font-size:18px'" aria-hidden="true"></i></button>
                    </th>


                </tr>

            </thead>

            <tbody id="teachersBody">
                @Html.Partial("UserItemsList", Model.Users)
            </tbody>
        </table>

    </div>
</div>



<div class="modal" tabindex="-1" id="form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add and Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-body">
            </div>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="Mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="deletemodals">
                <h3>Do you want to delete, answer yes or no.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" onclick="ConfirmDelete()">Yes</button>
            </div>
        </div>
    </div>
</div>


<script>
    new Chart("myChart", {
        type: 'doughnut',
        data: {
            labels: [
                "Active",
                "NotActive"
            ],
            datasets: [{
                data: [@Model.TotalActiveUser, @Model.TotalNotActiveUser],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
        option: {
            responsive: true,
            legend: {
                position: "bottom",
                labels: {
                    boxWidth: 11,
                    fontColor: "#757681",
                    fontSize: 11
                }

            }

        }
    });

    function ConfirmDelete() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteUser", "User")',
            data: { teacherID: Cid },
            success: function (data) {

                $("#Mymodal").modal('hide');
                $('#User_' + Cid).remove();

            }

        })
    }

    function Delete(CoId) {
        Cid = CoId;

        $("#Mymodal").modal('show');
    }



    function GetDetails(teacherID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDetailsUser", "User")",
            data: { id: teacherID },
            success: function (data) {
                $('#form-modal-body').html('');
                $('#form-modal-body').html(data);
                $('#form-modal').modal('show');
            }
        })
    }

    function Edit(teacherID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("EditUser", "User")",
            data: { id: teacherID },
            success: function (data) {
                $('#form-modal-body').html('');
                $('#form-modal-body').html(data);
                $('#form-modal').modal('show');
            }
        })
    }
    function SaveUser() {
        var obj = new Object();
        obj.ID = $("#ID").val();
        obj.Name = $("#Name").val();
        obj.Phone = $("#Phone").val();
        obj.Status = $("#Status").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("EditUser", "User")',
            data: { user: obj },
            success: function (data) {
                $("#form-modal").modal('hide');
                if ($('#ID').val() && $('#ID').val() > 0) {
                    $('#User_' + $('#ID').val()).replaceWith(data);
                }
                else {
                    $('tbody').append(data);
                }

            }

        });
    }

</script>