﻿@model Clinic_Managment.Dtos.SendSmsDto
@{
    ViewData["Title"] = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(a=>a.idcodes)
        <div id="messagesms1" style="display:none">
            <div class="alert alert-success">
                <span class="glyphicon glyphicon-ok"></span>
                <strong>
                    Success Massage!<br />
                    send an Sms to your Phone<br />
                    please check your Phone
                </strong>
            </div>
        </div>
        <div id="messagesms2" style="display:none">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-remove"></span><strong>Error Massage! Your Send Sms</strong>
            </div>
        </div>
        <br><br>
        <div class="form-group">
            <span id="msgName1" class="text-danger" style="display:none">Please, the doctorname is in the database, choose another doctorname</span>
            <span id="msgdoctor94941" class="text-danger" style="display:none">Please, the doctorname value is not filled</span>
            <br>
            <label class="col-md-3">
                Mobile
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.HiddenFor(a=>a.Body)
        </div>
        <div class="form-group">
            @Html.HiddenFor(a=>a.Code)
        </div>
        <br /><br /><br />
        <center>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" onclick="Sendsms()" class="btn btn-success-white">SendSms</button>
                </div>
            </div>
        </center>

    </div>


}
<script>
    function Sendsms() {
        debugger;
        var sms = new Object();
        sms.MobileNumber = $("#MobileNumber").val();
        $.ajax({
            type: "Post",
            url: '/Managment/SmsSend/Send',
            data: { sendSmsDto: sms },
            success: function (data) {
                if (data.propertyName1 == "Success") {
                    $("#messagesms1").show();
                    $("#messagesms2").hide();
                    return false
                }
                else {
                    $("#messagesms1").hide();
                    $("#messagesms2").show();
                }
            }
        })
    }
</script>

