﻿@model Clinic_Managment.Models.StudentModel

@{
    Layout = null;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StudentId)

        <div class="form-group">
            <span id="msgName1" class="text-danger" style="display:none">Please, the studentName is in the database, choose another studentName</span>
            <span id="msgdoctor94941" class="text-danger" style="display:none">Please, the studentName value is not filled</span>
            <br>
            <label class="col-md-3">
                Name
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <br /><br /><br />
        <center>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" onclick="SaveStudent()" class="btn btn-success-white">Save</button>
                </div>
            </div>
        </center>

    </div>


}

