﻿@model IList<Clinic_Managment.Models.StudentModel>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <select id="mySelect2" multiple="multiple" style="width:300px;">
    </select>
    <button type="button" onclick="Search()" class="btn btn-info"><i class="fa fa-search"></i></button>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table" id="tables">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th>
                        <button type="button" onclick="Edit()" class="btn btn-info"><i class="fa fa-plus  style='font-size:18px'" aria-hidden="true"></i></button>
                    </th>

                    <th></th>
                </tr>

            </thead>
            <tbody id="teachersBody">

                @Html.Partial("SearchStudent", Model)
            </tbody>
        </table>

    </div>
</div>



<div class="modal" tabindex="-1" id="form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add and Edit Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-body">
            </div>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="form-modals">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-bodys">
            </div>

        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="Mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="deletemodals">
                <h3>Do you want to delete, answer yes or no.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" onclick="ConfirmDelete()">Yes</button>
            </div>
        </div>
    </div>
</div>


<script>
    function GetDetailsStuden(studentids) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDetailsStudent", "Student")",
            data: { studentid: studentids },
            success: function (data) {
                debugger;
                $('#form-modal-bodys').html('');
                $('#form-modal-bodys').html(data);
                $('#form-modals').modal('show');
            }
        })
    }

    function Edit(studentid) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("EditStudent", "Student")",
            data: { studentid: studentid },
            success: function (data) {
                debugger;
                $('#form-modal-body').html('');
                $('#form-modal-body').html(data);
                $('#form-modal').modal('show');
            }
        })
    }
    debugger;
    function SaveStudent() {
        debugger;
        var obj = new Object();
        obj.StudentId = $("#StudentId").val();
        obj.Name = $("#Name").val();

        var name = $("#Name").val();
        var isvalid = true;
        if (name == "") {
            $("#msgName1").hide();
            $("#msgdoctor94941").show();
            isvalid = false;
        }
        else {
            $("#msgdoctor94941").hide();
        }
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("EditStudent", "Student")',
            data: { studentModel: obj },

            success: function (data) {
                debugger;
                    $("#msgName1").hide();
                    $("#form-modal").modal('hide');
                    if ($('#StudentId').val() && $('#StudentId').val() > 0) {
                     $('#Student_' + $('#StudentId').val()).replaceWith(data);
                    }
                    else {
                      $('#teachersBody').append(data);
                    }
            }

        });
    }

</script>