﻿@model Clinic_Managment.Models.StudentModel

<tr id="Student_@Model.StudentId">
    <td>@Model.StudentId </td>
    <td>@Model.Name </td>

    <td>
        <button type="button" onclick="Delete(@Model.StudentId)" class="btn btn-danger pull-right"><i class='fa fa-trash' style='font-size:18px'></i></button>
        <button type="button" onclick="GetDetailsStuden(@Model.StudentId)" class="btn btn-warning pull-right"><i class="fa fa-align-justify custom" style="font-size:18px"></i></button>
        <button type="button" onclick="Edit(@Model.StudentId)" class="btn btn-success pull-right"><i class="fa fa-edit" style="font-size:18px"></i></button>

</tr>
