﻿<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
@{
    ViewBag.Title = "Confirm";
    Layout = null;
}
<br />
<br />
<div class="alert alert-warning" id="previous">
    <strong>Confirm Your Account</strong>
    <input type="submit" class="btn btn-warning" value="Confirm" onclick="Verified()" />
</div>

<div class="alert alert-success" id="after" style="display:none">
    <strong><span class="glyphicon glyphicon-ok"></span>Your Account Is Active Now</strong>
</div>

<script>
    debugger;
    function Verified() {
        debugger;
        $.ajax({
            type: "POST",

            url: '/Managment/Login/RegisterConfirm',
            data: { 'regId': '@ViewBag.regID' },
            success: function (msg) {
                if (msg == "Done"){
                    $("#after").show();
                    alert("Your Email Is Verified!");
                }
                $("#previous").hide();
                window.location.replace("/Managment/Login/Login");
            }
        })
    }
</script>