﻿<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
@{
    ViewBag.Title = "Foregetsms";
    Layout = null;
}
<style>
    .form-gap {
        padding-top: 70px;
    }

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                                <div class="form-group">
                                    <div class="text-success" id="sysu" style="display:none">
                                        <span>Reset password link has been sent to your Mobile</span>
                                    </div>
                                    <div class="text-danger" id="mobile" style="display:none">
                                        <span>Please, the Mobile value is not filled</span>
                                    </div>
                                    <div class="text-danger" id="found" style="display:none">
                                        <span>Mobile Not Found</span>
                                    </div>
                                    <div class="input-group" style="display:none" id="smsssens">
                                        <span class="input-group-addon"><i class="fa fa-mobile-phone" style="font-size:20px"></i></span>
                                        @Html.TextBox("mobileID", "", new {@class = "form-control"})
                                    </div>
                                </div>
                                <br />
                                <div style="float:left;">
                                    @Html.ActionLink("Back to Login", "Login" , "Login" , "Managment")
                                </div>
                                <br />
                                <div class="form-group">
                                    <input type="submit" value="Submit" onclick="Submit()" class="btn btn-success" />
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Submit() {
        debugger;
        var sms = $("#mobileID").val();
        var rsds = true;
        $.ajax({
            type: "post",
            data: { Mobile: sms },
            url: '/Managment/Login/Foregetsms',
            success: function (result) {
                if (result == "notfilled") {
                    $("#mobile").show();
                    $("#found").hide();
                    $("#sysu").hide();
                    rsds = false;
                }
                if (result == "notfound") {
                    $("#found").show();
                    $("#mobile").hide();
                    $("#sysu").hide();
                    rsds = false;
                }
                if (result == "Truees") {
                    $("#sysu").show();
                    $("#mobile").hide();
                    $("#found").hide();
                    rsds = false;
                }
            }
        });
    }
</script>

