﻿@model UserLogin
@{
    ViewBag.Title = "Login";
    Layout = null;
}


<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<body>
    <div class="container">
        <div class="row justify-content-center align-items-center inner-row">
            <div class="col-md-5">
                <div class="login login-form">
                    <div class="form-title">
                        <h2 class="fw-bold mb-3"></h2>
                    </div>
                    <form id="loginForm" onsubmit="return validateEmail();">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div id="msg" style="text-align:center;"><ul style="color:red;">The email Is Not Confirmation plesase Confirm Email</ul></div>
                        <div id="msguser" style="text-align:center;"><ul style="color:red;">UserName IS Not Correct</ul></div>
                        <div id="msgpsw" style="text-align:center;"><ul style="color:red;">Password IS Not Correct</ul></div>
                        <span id="msgdUserName" class="text-danger" style="display:none">Please, the UserName value is not filled</span>
                        <span id="msgpswuses" class="text-danger" style="display:none">If you please, the username and password, one of which is in it, make sure of that</span>

                        <br />
                        UserName
                        <div class="form-floating mb-3" id="inpsjsd">
                            <label for="Email"> </label>
                            <input class="form-control form-control-sm" type="email" id="email" />
                            <span asp-validation-for="Username" class="text-danger"></span>

                        </div>
                        <span id="msgdPassword" class="text-danger" style="display:none">Please, the Password value is not filled</span>
                        <br />
                        <label for="pass">Password</label>
                        <div class="form-floating mb-3">

                            <input class="form-control form-control-sm" id="password" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mt-3">
                            <label class="btn btn-dark w-100" type="submit" onclick="SiginIn()" value="SignIn">Sign In</label>
                        </div>
                    </form>
                    <div class="mt-3">

                        <a style="float:left" data-bs-toggle="modal" data-bs-target="#EmailSmsforget" id="Modersgls">Forget Password ?</a><a data-bs-toggle="modal" data-bs-target="#EmailSms" id="Models" style="float:right;cursor:pointer">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="EmailSmsforget">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">How would you like Forget to mail by Mail or SMS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check" style="float:left;">
                        <input class="form-check-input" type="checkbox" id="c22" name="foo" onclick="Checkboxemaisl()" value="">
                        <label class="form-check-label" for="flexCheckDefault">
                            Email
                        </label>
                    </div>
                    <center>
                        <input class="form-check-input css-1hrs2mb" type="checkbox" id="c233" name="foo1" onclick="Checkboxssms()" value="">
                        <label class="form-check-label css-1hrs2mb" for="flexCheckDefault">
                            SMS
                        </label>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="Nerxgdgtdx">Next</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="EmailSms">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">How would you like to mail by Mail or SMS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check" style="float:left;">
                        <input class="form-check-input" type="checkbox" id="c2" name="foo" onclick="Checkboxemail()" value="">
                        <label class="form-check-label" for="flexCheckDefault">
                            Email
                        </label>
                    </div>
                    <center>
                        <input class="form-check-input css-1hrs2mb" type="checkbox" id="c23" name="foo1" onclick="Checkboxsms()" value="">
                        <label class="form-check-label css-1hrs2mb" for="flexCheckDefault">
                            SMS
                        </label>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-target="#ShowModal" id="Nerxtx">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShowModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" id="btns" data-bs-dismiss="modal" aria-label="Close"></button>
                <br />
                <h4 id="menu" style="text-align:center;">Registration Form</h4>
                <div class="modal-header">

                    <div id="message1">
                        <div class="alert alert-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>
                                Success Massage!<br />
                                send an email to your email address with confirmation link!<br />
                                please check your inbox
                            </strong>
                        </div>
                    </div>
                    <div id="message2">
                        <div class="alert alert-danger">
                            <span class="glyphicon glyphicon-remove"></span><strong>Error Massage! Your Registration Is Not Complete</strong>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="Registration">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="text" name="FirstName" id="FirstName" placeholder="FirstName" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="text" name="LastName" id="users" placeholder="LastName" />
                            </div>
                        </div>
                        <br />
                      <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" type="PhoneNo" name="PhoneNo" id="PhoneNo" placeholder="Phone" />
                        </div>
                      </div>
                      <br />
                        <div class="form-group" id="Emailssens" style="display:none">
                            <span id="msgemail12" class="text-danger" style="display:none">Please, the Email is in the database, choose another Email</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input class="form-control" type="email" name="Email" id="Email" placeholder="Email" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <span id="msgdUserName12" class="text-danger" style="display:none">Please, the name is in the database, choose another name</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="text" name="Username" id="user" placeholder="UserName" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" type="password" name="Password" id="Password" placeholder="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(a=>a.ResetPasswordCode)
                        </div>
                        <br />
                    </form>
                    <div class="form-group">
                        <button class="btn btn-info form-control" type="submit" onclick="SaveForm()"><i class=" glyphicon glyphicon-registration-mark"></i> Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ShowModals">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" id="btns" data-bs-dismiss="modal" aria-label="Close"></button>
                <br />
                <h4 id="menu" style="text-align:center;">Registration Form</h4>
                <div class="modal-header">

                    <div id="messagesms1" style="display:none">
                        <div class="alert alert-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>
                                Success Massage!<br />
                                send an Sms to your Phone<br />
                                please check your Phone
                            </strong>
                        </div>
                    </div>
                    <div id="messagesms2" style="display:none">
                        <div class="alert alert-danger">
                            <span class="glyphicon glyphicon-remove"></span><strong>Error Massage! Your Send Sms</strong>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="Registrations">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="text" name="FirstName" id="FirstNames" placeholder="FirstName" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="text" name="LastName" id="userss" placeholder="LastName" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" type="PhoneNo" name="PhoneNo" id="PhoneNos" placeholder="Phone" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group" id="smsssens" style="display:none">
                            <span id="msgemail12ss" class="text-danger" style="display:none">Please, the MobileNo is in the database, choose another MobileNo</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input class="form-control" type="MobileNumber" name="MobileNumber" id="MobileNumber" placeholder="MobileNumber" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <span id="msgdUserName12ss" class="text-danger" style="display:none">Please, the name is in the database, choose another name</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="text" name="Username" id="usersssss" placeholder="UserName" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" type="password" name="Password" id="Passwords" placeholder="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(a=>a.ResetPasswordCode)
                        </div>
                        <br />
                    </form>
                    <div class="form-group">
                        <button class="btn btn-info form-control" type="submit" onclick="SaveForms()"><i class=" glyphicon glyphicon-registration-mark"></i> Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    $('#Modersgls').click(function () {
        debugger;
        var loadingMdffdodal = $("#EmailSmsforget");
        loadingMdffdodal.modal("show");
    });
    $('#Nerxgdgtdx').click(function () {
        debugger;
        var checkBox = document.getElementById("c22");
        var checkBoxsms = document.getElementById("c233");
        if (checkBox.checked == true) {
            window.location.replace("/Managment/Login/ForgotPassword");
        } 

        if (checkBoxsms.checked == true) {
            window.location.replace("/Managment/Login/ForgerMobile");
        } 
    });
   function Checkboxemaisl(){
        debugger;
        $("#Emailssens").show();
        $("#smsssens").hide();
        $("#c233").prop("checked", false);
    }
    function Checkboxssms() {
        debugger;
        $("#smsssens").show();
        $("#Emailssens").hide();
        $("#c22").prop("checked", false);

    }

    $('#Nerxtx').click(function () {
        debugger;
        var loadingModal = $("#ShowModal");
        var loadingModals = $("#ShowModals");
        var EmailSms = $("EmailSms");
        var checkBox = document.getElementById("c2");
        var checkBoxsms = document.getElementById("c23");
        if (checkBox.checked == true) {
            EmailSms.modal("hide");
            loadingModal.modal("show");
            return false;
        }

        if (checkBoxsms.checked == true) {
            loadingModals.modal("show");
            EmailSms.modal("hide");
            return false;
        }
    });
    function Checkboxemail() {
        debugger;
        $("#Emailssens").show();
        $("#smsssens").hide();
        $("#c23").prop("checked", false);
    }
    function Checkboxsms() {
        debugger;
        $("#smsssens").show();
        $("#Emailssens").hide();
        $("#c2").prop("checked", false);

    }
    $('#Models').click(function () {

        $("#message1").hide();
        $("#message2").hide();

    });
    
    function SaveForms() {
        debugger;

        var name = $("#usersssss").val();
        var lastname = $("#userss").val();
        var phones = $("#PhoneNos").val();
        var pwd = $("#Passwords").val();
        var firstname = $("#FirstNames").val();
        var MobileNumber = $("#MobileNumber").val();
        if (name == "" || email == "" || pwd == "" || lastname == "" || phones == "" || firstname == "" || MobileNumber == "") {
            $("#messagesms1").hide();
            $("#messagesms2").show();
            return false;

        }
        debugger;
        var data = $("#Registrations").serialize();
        var loadingModal = $("#ShowModals");
        var loadingMoedal = $("#EmailSms");
        var isvalid = true;
        $.ajax({
            type: "post",
            data: data,
            url: '/Managment/Login/Send',
            success: function (result) {

                if (result == "validio455ns") {
                    $("#msgemail12ss").hide();
                    $("#msgdUserName12ss").show();
                    return false;
                }
                if (result == "validdttdate") {
                    $("#msgdUserName12ss").hide();
                    $("#msgemail12ss").show();
                    return false;
                }
                else {
                    $("#msgemail12ss").hide();
                    $("#msgdUserName12ss").hide();
                    if (result.propertyName1 == "Success") {

                        $("#messagesms1").show();
                        loadingModal.modal("hide");
                        loadingMoedal.modal("hide");
                        window.location.replace("/Managment/Login/OTPVerfiction");

                    }
                    $("#messagesms2").hide();
                    $("#Registration")[0].reset();
                }
            }
        });
    }
    function SaveForm() {
        debugger;

        var name = $("#user").val();
        var lastname = $("#users").val();
        var phones = $("#PhoneNo").val();
        var email = $("#Email").val();
        var pwd = $("#Password").val();
        var firstname = $("#FirstName").val();

        if (name == "" || email == "" || pwd == "" || lastname == "" || phones == "" || firstname == "") {
            $("#message1").hide();
            $("#message2").show();
            return false;

        }
        debugger;
        var data = $("#Registration").serialize();
        var loadingModal = $("#ShowModal");
        var loadingMoedal = $("#EmailSms");
        var isvalid = true;
        $.ajax({
            type: "post",
            data: data,
            url: '/Managment/Login/SaveData',
            success: function (result) {

                if (result == "validions") {
                    $("#msgemail12").hide();
                    $("#msgdUserName12").show();
                    return false;
                }
                if (result == "validate"){
                    $("#msgdUserName12").hide();
                    $("#msgemail12").show();
                    return false;
                }
                else{
                    $("#msgemail12").hide();
                    $("#msgdUserName12").hide();
                    if (result == "True") {

                        $("#message1").show();
                        loadingModal.modal("hide");
                        loadingMoedal.modal("hide");
                    }
                    $("#message2").hide();
                    $("#Registration")[0].reset();
                }
            }
        });
    }
    $("#msg").hide();
    $("#msguser").hide();
    $("#msgpsw").hide();
    $("#msgpswuses").hide();
    function SiginIn() {
        debugger;
        var model = {
            Username: $("#email").val(),
            Password: $("#password").val()
        };
        var Usernames = $("#email").val();
        var Passwords = $("#password").val();
        var isvalid = true;
        if (Usernames == "") {
            $("#msg").hide();
            $("#msguser").hide();
            $("#msgpsw").hide();
            $("#msgdUserName").show();
            $("#msgpswuses").hide();
            isvalid = false;
        }
            else{
                $("#msgdUserName").hide();
            }
            if (Passwords == "") {
            $("#msg").hide();
            $("#msguser").hide();
            $("#msgpsw").hide();
              $("#msgpswuses").hide();
                $("#msgdPassword").show();
            isvalid = false;
        }
        else{
                $("#msgdPassword").hide();
            }
     
        if (!isvalid) return;
        debugger;
        $.ajax({
            type: "Post",
            url: '/Managment/Login/Login',
            data: {model : model},
            success: function (msg) {
                debugger;
                if (msg == "Done") {
                    window.location.replace("/Managment/Users/Usersindex");
                }
                else {
                    
                    if (msg == "result") {
                        $("#loginForm")[0].reset();
                        $("#msg").show();
                    }
                    else{
                        $("#msg").hide();
                    }
                    if (msg == "msg1") {
                        $("#msguser").show();

                    }
                    else{
                        $("#msguser").hide();
                    }
                   if (msg == "msg2") {
                        $("#msgpsw").show();
                    }
                    else{
                        $("#msgpsw").hide();
                    }

                    if (msg == "msg9"){
                        $("#msgpswuses").show();
                    }
                    else {
                        $("#msgpswuses").hide();
                    }
                }
                return false;
            },
        });
    }



</script>