﻿@model Clinic_Managment.Models.UserLogin

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    html,
    body {
        height: 100%;
        display: grid;
        place-items: center;
        background-color: #EAF5F6;
    }

    .container {
        width: 400px;
        padding: 50px;
        background-color: #ffffff;
        border-radius: 25px;
    }

    h3.title {
        font-size: 28px;
        font-weight: 700;
        color: #093030;
        margin-bottom: 25px;
    }

    p.sub-title {
        color: #B5BAB8;
        font-size: 14px;
        margin-bottom: 25px;
    }

    p span.phone-number {
        display: block;
        color: #093030;
        font-weight: 600;
    }

    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: space-between;
    }

        .wrapper input.field {
            width: 50px;
            line-height: 75px;
            font-size: 32px;
            border: none;
            background-color: #EAF5F6;
            border-radius: 5px;
            text-align: center;
            text-transform: uppercase;
            color: #093030;
            margin-bottom: 25px;
        }

            .wrapper input.field:focus {
                outline: none;
            }

    button.resend {
        background-color: transparent;
        border: none;
        font-weight: 600;
        color: #3DAFE1;
        cursor: pointer;
    }

        button.resend i {
            margin-left: 5px;
        }

    #otpsd {
        width: 40px;
        height: 40px;
    }

    #otpmass {
        color: red;
    }
</style>
<div class="container">
    <h3 class="title">OTP Verification</h3>
    <br />
    <span id="otpmass" class="text-danger" style="display:none">OTP NOT Found</span>
    <br />
    <p class="sub-title">
        Enter the OTP you received to
        <span class="phone-number">

            <div style="float:left">
                @if (@Context.Session.GetString("ID") != null)
                {
                    <a href="#" style="float:right;" class="pull-right"> @Context.Session.GetString("Mobile")</a>

                }
            </div>
        </span>
    </p>
    <div class="wrapper" id="otp">
        <input type="text" id="Code" class="field 1" maxlength="1">
        <input type="text" id="Codes" class="field 2" maxlength="1">
        <input type="text" id="Codess" class="field 3" maxlength="1">
        <input type="text" id="Codesss" class="field 4" maxlength="1">
    </div>
    <button class="resend">
        Resend OTP
        <i class="fa fa-caret-right"></i>
    </button>
    <br />
    <center>
        <button type="button" onclick="Otp()" id="otpsd" class="btn btn-success-white">Verify</button>
    </center>
</div>
<script>
    function Otp() {

        debugger;
        var otp1 = $("#Code").val();
        var otp2 = $("#Codes").val();
        var otp3 = $("#Codess").val();
        var otp4 = $("#Codesss").val();
        var otps = otp1 + otp2 + otp3 + otp4;
        $.ajax({
            type: "Post",
            url: '/Managment/Login/OTPVerfiction',
            data: { dto: otps },
            success: function (data) {
                debugger;
                if (data == "Falsotp") {
                    $("#otpmass").show();
                    return false;
                }
                else {
                    $("#otpmass").hide();
                    window.location.replace("/Managment/Login/confirmf?ID=" + otps);
                }
            }
        })
    }
    const inputFields = document.querySelectorAll("input.field");

    inputFields.forEach((field) => {
        field.addEventListener("input", handleInput);
    });

    function handleInput(e) {
        let inputField = e.target;
        if (inputField.value.length >= 1) {
            let nextField = inputField.nextElementSibling;
            return nextField && nextField.focus();
        }
    }
</script>