﻿@model Clinic_Managment.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
}

<style>
    .mainDiv {
        display: flex;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
        font-family: 'Open Sans', sans-serif;
    }

    .cardStyle {
        width: 500px;
        border-color: white;
        background: #fff;
        padding: 36px 0;
        border-radius: 4px;
        margin: 30px 0;
        box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
    }

    #signupLogo {
        max-height: 100px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .formTitle {
        font-weight: 600;
        margin-top: 20px;
        color: #2F2D3B;
        text-align: center;
    }

    .inputLabel {
        font-size: 12px;
        color: #555;
        margin-bottom: 6px;
        margin-top: 24px;
    }

    .inputDiv {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    input {
        height: 40px;
        font-size: 16px;
        border-radius: 4px;
        border: none;
        border: solid 1px #ccc;
        padding: 0 11px;
    }

        input:disabled {
            cursor: not-allowed;
            border: solid 1px #eee;
        }

    .buttonWrapper {
        margin-top: 40px;
    }

    .submitButton {
        width: 70%;
        height: 40px;
        margin: auto;
        display: block;
        color: #fff;
        background-color: #065492;
        border-color: #065492;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
    }

        .submitButton:disabled,
        button[disabled] {
            border: 1px solid #cccccc;
            background-color: #cccccc;
            color: #666666;
        }

    #loader {
        position: absolute;
        z-index: 1;
        margin: -2px 0 0 10px;
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #666666;
        width: 14px;
        height: 14px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    #success{
        color:green;
    }

    #danger{
        color:red;
    }

    #messagConfirmPasswords{
        color : red;
    }
</style>
<div class="mainDiv">
    <div class="cardStyle">
        <form action="" method="post" name="signupForm" id="signupForm">

            <img src="" id="signupLogo" />

            <h2 class="formTitle">
                Login to your account
            </h2>
            <div class="text-danger" id="success" style="text-align:center;">
                @ViewBag.Message
            </div>
            <div class="text-danger" id="danger" style="text-align:center;">
                @ViewBag.messagfdfde
            </div>
            @if(Model.NewPassword != Model.ConfirmPassword)
            {
                <div id="messagConfirmPasswords" style="text-align:center;">
                    @ViewBag.messagConfirmPasswords
                </div>
            }
            else
            {
                <div id="messagConfirmPasswords" style="text-align:center;display:none;">
                    @ViewBag.messagConfirmPasswords
                </div>
            }
            <div class="inputDiv">
                <label class="inputLabel" for="NewPassword">New Password</label>
                <input type="password" id="password" asp-for="NewPassword" name="NewPassword" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="ConfirmPassword">Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" id="confirmPassword" name="ConfirmPassword">
            </div>
            <div class="form-group">
                @Html.HiddenFor(a=>a.ResetCode)
            </div>
            <br />
            <div style="padding:30px">
                @Html.ActionLink("Back to Login", "Login" , "Login" , "Managment")
            </div>
            <center>
                <div class="buttonWrapper">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </center>

        </form>
    </div>
</div>




