﻿@model Clinic_Managment.Models.ChangPaswordModel
@{
    ViewData["Title"] = "ChangPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Change Password</div>
        <div class="card-body">
            <form asp-action="Changepassword" method="post">

                <div class="form-group" style="text-align:center;">
                    <div class="form-label-group">
                        <span class="text-success">@ViewBag.Messagess</span>
                    </div>
                </div>
                <div class="form-group" style="text-align:center;">
                    <div class="form-label-group">
                        <span class="text-danger">@ViewBag.MessasNewPassword</span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <span class="text-danger">@ViewBag.Messases</span>
                    <br />
                    <label class="col-md-3">
                        Old Password
                    </label>
                    <div class="form-row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-20">
                            <div class="form-label-group">
                                <input asp-for="OldPassword" class="form-control" placeholder="OldPassword" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-20">
                        <span class="text-danger">@ViewBag.Messas</span>
                        <br />
                        New Password
                        <div class="form-label-group">
                            <input asp-for="NewPassword" class="form-control" placeholder="NewPassword" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-20">
                        Confirm Password
                        <div class="form-label-group">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <br /><br />
                <input type="submit" value="ChangePassword" class="btn btn-primary btn-sm col-md-2 offset-md-5" />
            </form>
        </div>
    </div>
</div>
