﻿@model Clinic_Managment.Models.UserLogin

@{
    Layout = null;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <span id="msgFirstNmae" class="text-danger" style="display:none">Please, the FirstName is in the database, choose another FirstName</span>
            <span id="msgfirstname" class="text-danger" style="display:none">Please, the FirstName value is not filled</span>
            <br>
            <label class="col-md-3">
                FirstName
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span id="msglastname" class="text-danger" style="display:none">Please, the LastName value is not filled</span>
            <br>
            <label class="col-md-3">
                LastName
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span id="msgphone" class="text-danger" style="display:none">Please, the Phone value is not filled</span>
            <br>
            <label class="col-md-3">
                Phone
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span id="msgdEmasil" class="text-danger" style="display:none">Please, the name is in the Email, choose another Email</span>
            <span id="msgemail" class="text-danger" style="display:none">Please, the Email value is not filled</span>
            <br>
            <label class="col-md-3">
                Email
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span id="msgdUser" class="text-danger" style="display:none">Please, the UserName is in the database, choose another UserNmae</span>
            <span id="msgusername" class="text-danger" style="display:none">Please, the UserName value is not filled</span>
            <br>
            <label class="col-md-3">
                UserName
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span id="msgdPassword" class="text-danger" style="display:none">Please, the Password is in the database, choose another Password</span>
            <span id="msgpassword" class="text-danger" style="display:none">Please, the Password value is not filled</span>
            <br>
            <label class="col-md-3">
                Password
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <br /><br /><br />
        <center>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" onclick="SaveUsers()" class="btn btn-success-white">Save</button>
                </div>
            </div>
        </center>

    </div>


}

