﻿@model Clinic_Managment.Models.UserLogin

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <label class="col-xs-2" for="lname">ID : </label>
        <label class="col-xs-10" for="lname">@Model.ID</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">FirstName : </label>
        <label class="col-xs-10" for="fname">@Model.FirstName</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">LastName : </label>
        <label class="col-xs-10" for="fname">@Model.LastName</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Phone : </label>
        <label class="col-xs-10" for="fname">@Model.PhoneNo</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Email : </label>
        <label class="col-xs-10" for="fname">@Model.Email</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">UserName : </label>
        <label class="col-xs-10" for="fname">@Model.Username</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Password : </label>
        <label class="col-xs-10" for="fname">@Model.Password</label>
    </div>

</div>




