﻿@model UserDashboardModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
@{
    ViewBag.Title = "Usersindex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
<br /><br />
<div>
    <select id="mySelect2" multiple="multiple" style="width:300px;">
    </select>
    <button type="button" onclick="Search()" class="btn btn-info"><i class="fa fa-search"></i></button>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table" id="tables">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">PhoneNo</th>
                    <th scope="col">Email</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Password</th>
                    <th>
                        <button type="button" onclick="Edit()" class="btn btn-info"><i class="fa fa-plus  style='font-size:18px'" aria-hidden="true"></i></button>
                    </th>

                    <th></th>
                </tr>

            </thead>

            <tbody id="teachersBody">
                @Html.Partial("SearchUsers", Model.UserLogins)
            </tbody>
        </table>

    </div>
</div>



<div class="modal" tabindex="-1" id="form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add and Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-body">
            </div>

        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="form-modals">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-bodys">
            </div>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="Mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="deletemodals">
                <h3>Do you want to delete, answer yes or no.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" onclick="ConfirmDelete()">Yes</button>
            </div>
        </div>
    </div>
</div>


<script>


    $(document).ready(function () {
        $("#mySelect2").select2({

            allowClear: true,
            theme: "classic",
            minimumInputLength: 1,
            ajax: {
                url: '@Url.Action("GetUser", "Users")',
                dataType: "json",

                data: function (params) {
                    return {
                        searchName: params.term,
                        selectuserid: $("#mySelect2").val().toString(),
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                },
            },
        })
    })
    function Search() {

        var ids = $("#mySelect2").val();
        $.ajax
            ({
                type: "GET",
                url: '@Url.Action("SearchUsers", "Users")',
                data: {
                    idsStr: ids.toString() },
                success: function (data) {
                    debugger;
                    $('#teachersBody').html(data);
                }
            });
    }

    new Chart("myChart", {
        type: 'doughnut',
        data: {
            labels: [
                "Active",
                "NotActive"
            ],
            datasets: [{
                data: [@Model.TotalActiveUser, @Model.TotalNotActiveUser],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
        option: {
            responsive: true,
            legend: {
                position: "bottom",
                labels: {
                    boxWidth: 11,
                    fontColor: "#757681",
                    fontSize: 11
                }

            }

        }
    });
    function ConfirmDelete() {
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteUsers", "Users")',
            data: { teacherID: Cid },
            success: function (data) {
                debugger;
                if (data == "true") {
                    $("#Mymodal").modal('hide');
                    $('#Users_' + Cid).remove();
                }
                else {
                    $("#Mymodal").modal('hide');
                    $('#Users_' + Cid).remove();
                    window.location.replace("/Managment/Login/login");

                }

            }

        })
    }

    function Delete(CoId) {
        Cid = CoId;

        $("#Mymodal").modal('show');
    }


    function GetDetails(teacherID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDetailsUsers", "Users")",
            data: { id: teacherID },
            success: function (data) {
                debugger;
                $('#form-modal-bodys').html('');
                $('#form-modal-bodys').html(data);
                $('#form-modals').modal('show');
            }
        })
    }

    function Edit(teacherID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("EditUsers", "Users")",
            data: { id: teacherID },
            success: function (data) {
                debugger;
                $('#form-modal-body').html('');
                $('#form-modal-body').html(data);
                $('#form-modal').modal('show');
            }
        })
    }
    debugger;
    function SaveUsers() {
        var isvalid = true;
        var Username = $("#Username").val();
        var LastName = $("#LastName").val();
        var PhoneNo = $("#PhoneNo").val();
        var Email = $("#Email").val();
        var Password = $("#Password").val();
        var FirstName = $("#FirstName").val();
        if (Username == "") {
            $("#msgusername").show();
            isvalid = false;
        }
        else{
            $("#msgusername").hide();

        }
        if (LastName == "") {
            $("#msglastname").show();
            isvalid = false;
        }
        else {
            $("#msglastname").hide();

        }
             if (PhoneNo == "") {
            $("#msgphone").show();
            isvalid = false;
        }
        else{
            $("#msgphone").hide();

        }
        if (Email == "") {
            $("#msgemail").show();
            isvalid = false;
        }
        else {
            $("#msgemail").hide();

        }
             if (Password == "") {
            $("#msgpassword").show();
            isvalid = false;
        }
        else{
            $("#msgpassword").hide();

        }
        if (FirstName == "") {
            $("#msgfirstname").show();
            isvalid = false;
        }
        else {
            $("#msgfirstname").hide();

        }
   
        var obj = new Object();
        obj.ID = $("#ID").val();
        obj.Username = $("#Username").val();
        obj.LastName = $("#LastName").val();
        obj.PhoneNo = $("#PhoneNo").val();
        obj.Email = $("#Email").val();
        obj.Password = $("#Password").val();
        obj.FirstName = $("#FirstName").val();
        debugger;

        $.ajax({
            type: "POST",
            url: '@Url.Action("EditUsers", "Users")',
            data: { userLogin: obj },

            success: function (data) {
                debugger;
                if (data == "dublicatefirst") {
                    $("#msgdPassword").hide();
                    $("#msgdUser").hide();
                    $("#msgdEmasil").hide();
                    $("#msgFirstNmae").show();
                    return false;
                }
                if (data == "dublicateuses") {
                    $("#msgdPassword").hide();
                    $("#msgFirstNmae").hide();
                    $("#msgdEmasil").hide();
                    $("#msgdUser").show();
                    return false;
                }
                if (data == "dublicateemail") {
                    $("#msgdPassword").hide();
                    $("#msgFirstNmae").hide();
                    $("#msgdUser").hide();
                    $("#msgdEmasil").show();
                    return false;
                }
                if (data == "dublicatePassword"){
                    $("#msgFirstNmae").hide();
                    $("#msgdUser").hide();
                    $("#msgdEmasil").hide();
                    $("#msgdPassword").show();
                    return false;
                }
              else{
                    $("#msgdUser").hide();
                    $("#msgdEmasil").hide();
                    $("#msgFirstNmae").hide();
                    $("#form-modal").modal('hide');
                    if ($('#ID').val() && $('#ID').val() > 0) {
                        $('#Users_' + $('#ID').val()).replaceWith(data);
                    }
                    else {
                        $('tbody').append(data);
                    }
              }

            }

        });
    }

</script>