﻿@model Clinic_Managment.Models.UserLogin

<tr id="Users_@Model.ID">
    <td>@Model.ID </td>
    <td>@Model.FirstName </td>
    <td>@Model.LastName </td>
    <td>@Model.PhoneNo </td>
    <td>
            @if (Model.Email != null)
            {
               @Model.Email 
            }
            else
            {
              <span>
                  N/a
              </span>
    
    
            }
    </td>
    <td>@Model.Username </td>
    <td>@Model.Password </td>
    <td>
        @if (Model.IsValid == true)
        {
            <span class="text-success">Active</span>
        }
        else
        {
            <span class="text-danger">Not Active</span>
        }
    </td>


    <td>
        @if (Model.IsValid == true)
        {
            <a href="@Url.Action("Activate", "Users", new { id = Model.ID })" onclick="Activate()" id="active" style="display:none">Activate</a>
            <a href="@Url.Action("Deactivate", "Users", new { id = Model.ID })" onclick="Deactivate()" id="deactivate">Deactivate</a>
        }
        else
        {
            <a href="@Url.Action("Activate", "Users", new { id = Model.ID })" onclick="Activate()" id="active">Activate</a>
            <a href="@Url.Action("Deactivate", "Users", new { id = Model.ID })" onclick="Deactivate()" id="deactivate" style="display:none">Deactivate</a>

        }
        </td>
        <td>
        <button type="button" onclick="Delete(@Model.ID)" class="btn btn-danger pull-right"><i class='fa fa-trash' style='font-size:18px'></i></button>
        <br />
        <button type="button" onclick="GetDetails(@Model.ID)" class="btn btn-warning pull-right"><i class="fa fa-align-justify custom" style="font-size:18px"></i></button>
        <br />
        <button type="button" onclick="Edit(@Model.ID)" class="btn btn-success pull-right"><i class="fa fa-edit" style="font-size:18px"></i></button>
    </td>
</tr>
