﻿@model Clinic_Managment.Models.Product

@{
    Layout = null;
}
@using (Html.BeginForm())
{
   <center>
        <div id="message1" style="display:none;">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-remove"></span><strong>Error Massage! Your Add Is Not Complete</strong>
            </div>
        </div>
   </center>
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductID)

        <div class="form-group">
            <span id="ProductName1" class="text-danger" style="display:none">Please, the ProductName is in the database, choose another ProductName</span>
            <span id="ProductName2" class="text-danger" style="display:none">Please, the ProductName value is not filled</span>
            <br>
            <label class="col-md-3">
                ProductName
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span id="Price1" class="text-danger" style="display:none">Please, the Price is in the database, choose another Price</span>
            <span id="Price2" class="text-danger" style="display:none">Please, the Price value is not filled</span>
            <br>
            <label class="col-md-3">
                Price
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span id="Qty1" class="text-danger" style="display:none">Please, the Qty is in the database, choose another Qty</span>
            <span id="Qty2" class="text-danger" style="display:none">Please, the Qty value is not filled</span>
            <br>
            <label class="col-md-3">
                Qty
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span id="Remarks1" class="text-danger" style="display:none">Please, the Remarks is in the database, choose another Remarks</span>
            <span id="Remarks2" class="text-danger" style="display:none">Please, the Remarks value is not filled</span>
            <br>
            <label class="col-md-3">
                Remarks
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br /><br />
        <center>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" onclick="SaveProduct()" class="btn btn-success-white">Save</button>
                </div>
            </div>
        </center>

    </div>


}


