﻿@model Clinic_Managment.Models.Product

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <label class="col-xs-2" for="lname">ProductID : </label>
        <label class="col-xs-10" for="lname">@Model.ProductID</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Name : </label>
        <label class="col-xs-10" for="fname">@Model.ProductName</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Price : </label>
        <label class="col-xs-10" for="fname">@Model.Price</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Quntity : </label>
        <label class="col-xs-10" for="fname">@Model.Qty</label>
    </div>
    <br /><br />
    <div class="row">
        <label class="col-xs-2" for="fname">Remarks : </label>
        <label class="col-xs-10" for="fname">@Model.Remarks</label>
    </div>
</div>




