﻿@model Clinic_Managment.Models.Product

<tr id="Product_@Model.ProductID">
    <td>@Model.ProductID </td>
    <td>@Model.ProductName </td>
    <td>@Model.Price </td>
    <td>@Model.Qty </td>
    <td>@Model.Remarks </td>

    <td>
        <button type="button" onclick="DeleteProduct(@Model.ProductID)" class="btn btn-danger pull-right"><i class='fa fa-trash' style='font-size:18px'></i></button>
        <button type="button" onclick="GetDetailsProduct(@Model.ProductID)" class="btn btn-warning pull-right"><i class="fa fa-align-justify custom" style="font-size:18px"></i></button>
        <button type="button" onclick="EditProduct(@Model.ProductID)" class="btn btn-success pull-right"><i class="fa fa-edit" style="font-size:18px"></i></button>

</tr>
