﻿@model IList<Clinic_Managment.Models.Product>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal" tabindex="-1" id="form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add and Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-modal-body">
            </div>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="Mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="deletemodals">
                <h3>Do you want to delete, answer yes or no.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" onclick="ConfirmDelete()">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table" id="tables">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ProductName</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Remarks</th>
                    <th>
                        <button type="button" onclick="EditProduct()" class="btn btn-info"><i class="fa fa-plus  style='font-size:18px'" aria-hidden="true"></i></button>
                    </th>

                    <th></th>
                </tr>

            </thead>

            <tbody id="teachersBody">
                @Html.Partial("SearchProduct", Model)
            </tbody>
        </table>

    </div>
</div>


<script>
    $(document).ready(function () {
        debugger;
        $("#mySelect2").select2({
            allowClear: true,
            theme: "classic",
            minimumInputLength: 1,
            ajax: {
                url: '@Url.Action("GetProduct", "Product")',
                dataType: "json",

                data: function (params) {
                    return {
                        SearchProduct: params.term,
                    }


                },
                processResults: function (data, params) {
                    return {
                        results: data,
                    };
                },
            },
        })
    })
    function Search() {

        var ids = $("#mySelect2").val();
        $.ajax
            ({
                type: "GET",
                url: '@Url.Action("SearchProduct", "Product")',
                data: {
                  idsStr: ids.toString()
                },
                success: function (data) {
                    debugger;
                    $('#teachersBody').html(data);
                }
            });
    }
    $("#message1").hide();
    function EditProduct(productid) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("AddOREdit", "Product")",
            data: { productid: productid },
            success: function (data) {
                debugger;
                $('#form-modal-body').html('');
                $('#form-modal-body').html(data);
                $('#form-modal').modal('show');
            }
        })
    }

    function ConfirmDelete() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteProduct", "Product")',
            data: { IDproduct: Cid },
            success: function (data) {

                $("#Mymodal").modal('hide');
                $('#Product_' + Cid).remove();

            }

        })
    }

    function GetDetailsProduct(ProductID) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("DetailsProduct", "Product")",
            data: { detailsIDproduct: ProductID },
            success: function (data) {
                debugger;
                $('#form-modal-body').html('');
                $('#form-modal-body').html(data);
                $('#form-modal').modal('show');
            }
        })
    }

    function DeleteProduct(CoId) {
        Cid = CoId;

        $("#Mymodal").modal('show');
    }
    function SaveProduct() {
        debugger;
        var obj = new Object();
        obj.ProductID = $("#ProductID").val();
        obj.ProductName = $("#ProductName").val();
        obj.Price = $("#Price").val();
        obj.Qty = $("#Qty").val();
        obj.Remarks = $("#Remarks").val();

        var ProductName = $("#ProductName").val();
        var Price = $("#Price").val();
        var Qty = $("#Qty").val();
        var Remarks = $("#Remarks").val();
        var isvalid = true;
        if (ProductName == "") {
            $("#ProductName2").show();
            isvalid = false;
        }
        else {
            $("#ProductName2").hide();
        }
        if (Price == "") {
            $("#Price2").show();
            isvalid = false;
        }
        else {
            $("#Price2").hide();
        }
        if (Qty == "") {
            $("#Qty2").show();
            isvalid = false;
        }
        else {
            $("#Qty2").hide();
        }
        if (Remarks == "") {
            $("#Remarks2").show();
            isvalid = false;
        }
        else {
            $("#Remarks2").hide();
        }
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddOREdit", "Product")',
            data: { product: obj },

            success: function (data) {
                debugger;

                    $("#message1").hide();
                    $("#form-modal").modal('hide');
                    if ($('#ProductID').val() && $('#ProductID').val() > 0) {
                        $('#Product_' + $('#ProductID').val()).replaceWith(data);
                    }
                    else {
                        $('#teachersBody').append(data);
                    }
                
            }

        });
    }

</script>