﻿<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinic_Managment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/dashboard.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class='dashboard'>
         
            <div class="dashboard-nav">
                <header>
                    <a href="#" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="#" class="brand-logo">
                        <i class="fa fa-hospital-o" style="font-size:36px;"></i> <span>Hospital</span>
                    </a>
                </header>
       
                <nav class="dashboard-nav-list">
                    <div class="nav-item-divider"></div>
                    <a class="dashboard-nav-item" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home" style="font-size:30px"></i>Home </a>
                    <div class='dashboard-nav-dropdown'>
                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="fa fa-dashboard" style="font-size:30px"></i> Dashboard
                        </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a class="dashboard-nav-dropdown-item" asp-area="Managment" asp-controller="Product" asp-action="ProductIndex"><i class="fa fa-table" aria-hidden="true" style="font-size:12px"></i>Product </a>
                            <a class="dashboard-nav-dropdown-item" asp-area="Managment" asp-controller="Visit" asp-action="VisitIndex"><i class="fa fa-table" aria-hidden="true" style="font-size:12px"></i>Visit </a>
                            <a class="dashboard-nav-dropdown-item" asp-area="Managment" asp-controller="Doctor" asp-action="DoctorIndex"><i class="fa fa-table" aria-hidden="true" style="font-size:12px"></i>Doctor </a>
                            <a class="dashboard-nav-dropdown-item" asp-area="Managment" asp-controller="Patient" asp-action="PatientIndex"><i class="fa fa-table" aria-hidden="true" style="font-size:12px"></i>Patient </a>
                            <a class="dashboard-nav-dropdown-item" asp-area="Managment" asp-controller="Clinic" asp-action="ClinicIndex"><i class="fa fa-table" aria-hidden="true" style="font-size:12px"></i>Clinic </a>
                        </div>
                    </div>

                    <a id="menu-toggless" onclick="Profiles()" class="dashboard-nav-item" asp-area="Managment" asp-controller="Users" asp-action="Usersindex"> <i class="fa fa-users" style="font-size:30px"></i>Users </a>
                    <a id="menu-toggless" onclick="Profiles()" class="dashboard-nav-item" asp-area="Managment" asp-controller="User" asp-action="Profile"><i class="fa fa-user" style="font-size:30px"></i>Profile </a>

                    <div class='dashboard-nav-dropdown'>
                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="fa fa-gear" style="font-size:30px;"></i> Setting
                        </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a class="dashboard-nav-dropdown-item" asp-area="Managment" asp-controller="Users" asp-action="Changepassword"><i class="fa fa-lock" style="font-size:19px"></i>ChangePassword </a>
                        </div>
                    </div>
                    <div class="nav-item-divider"></div>
                    <a class="dashboard-nav-item" asp-area="Managment" asp-controller="Login" asp-action="LogOut"><i class="fa fa-sign-out" style="font-size:24px" aria-hidden="true"></i> Logout </a>
                </nav>
            </div>
            <div class='dashboard-app'>
                <header class='dashboard-toolbar'><a href="#" class="menu-toggle"><i class="fa fa-align-justify custom" style="font-size:18px"></i></a>

                    <div class="float-right">

                        @if (@Context.Session.GetString("ID") != null)
                        {

                            <div style="float:left">
                                Welcome:
                                <a href="#" style="float:right;" class="pull-right"> @Context.Session.GetString("username")</a>
                            </div>
                            <br /><br />
                            <div>
                                Last Login Date:
                                <a href="#" style="float:right;" class="pull-right"> @Context.Session.GetString("LastLogin")</a>
                            </div>
                        }
                    </div>
                    </header>
                <div class='dashboard-content'>
                    <div class='container'>
                        <div class="container">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>

                        <footer class="border-top footer text-muted">
                            <div class="container">
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </header> 

         
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/JS/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    const mobileScreen = window.matchMedia("(max-width: 990px )");
    $(document).ready(function () {
        $(".dashboard-nav-dropdown-toggle").click(function () {
            $(this).closest(".dashboard-nav-dropdown")
                .toggleClass("show")
                .find(".dashboard-nav-dropdown")
                .removeClass("show");
            $(this).parent()
                .siblings()
                .removeClass("show");
        });
        $(".menu-toggle").click(function () {
            if (mobileScreen.matches) {
                $(".dashboard-nav").toggleClass("mobile-show");
            } else {
                $(".dashboard").toggleClass("dashboard-compact");
            }
        });

    });
</script>
