﻿<!DOCTYPE html>

<html>
<head>
    <h1> Reset Password</h1>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    
    
         Hi,<br /><br />we got request for reset password. Please click on the below link to reset your password 
        <br /><br /><a href="@ViewBag.ConfirmationLink">Reset Password link</a>

</body>
</html>

