﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color:orange; font-size:45px">
        <b>abctutorial</b>
    </div>
    <div>
        <pre>
          Hi Sir/Madam
          we just need to vefiy your Email address for complete your registration!
          click<a href="@ViewBag.ConfirmationLink">Here</a>
       </pre>
    </div>
</body>
</html>