﻿@model Clinic_Managment.Models.Doctor

<tr id="Doctor_@Model.doctorId">
    <td>@Model.doctorId </td>
    <td>@Model.Name </td>

    <td>
        <button type="button" onclick="Delete(@Model.doctorId)" class="btn btn-danger pull-right"><i class='fa fa-trash' style='font-size:18px'></i></button>
        <button type="button" onclick="GetDetails(@Model.doctorId)" class="btn btn-warning pull-right"><i class="fa fa-align-justify custom" style="font-size:18px"></i></button>
        <button type="button" onclick="Edit(@Model.doctorId)" class="btn btn-success pull-right"><i class="fa fa-edit" style="font-size:18px"></i></button>

</tr>
