﻿@model Clinic_Managment.Models.Doctor

@{
    Layout = null;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.doctorId)

        <div class="form-group">
            <span id="msgName1" class="text-danger" style="display:none">Please, the doctorname is in the database, choose another doctorname</span>
            <span id="msgdoctor94941" class="text-danger" style="display:none">Please, the doctorname value is not filled</span>
            <br>
            <label class="col-md-3">
                Name
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <br /><br /><br />
        <center>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" onclick="Savedoctor()" class="btn btn-success-white">Save</button>
                </div>
            </div>
        </center>

    </div>


}

